@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MovieResults>
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
            <tr>
                <th>

                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th class="text-center" style="width:152px">
                    @Html.DisplayNameFor(model => model.vote_average)
                </th>
                <th class="text-center" style="width:120px">
                    @Html.DisplayNameFor(model => model.release_date)
                </th>
                <th class="text-left">
                    @Html.DisplayNameFor(model => model.overview)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <img width="150" height="225" src="@Html.DisplayFor(modelItem => item.poster_path)" alt="@Html.DisplayFor(modelItem => item.title)"></img>
                    </td>
                    <td class="text-center">             
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td class="text-center">
                    @if (item.vote_average > 0)
                    {
                        <div class="rating">
                        @for(var i = 0; i < item.vote_average / 2; i++)
                        {
                            <span>⭐</span>
                        }
                        @for(var j = item.vote_average / 2; j < 5; j++)
                        {
                            <span>✰</span>
                        }
                        </div>      
                    }else
                    {
                        <span>Not Rated</span>
                    }
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.release_date)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.overview)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
