@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MovieResults>
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
            <tr>
                <th>
                    Rating
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.overview)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.release_date)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                    @if (item.vote_average > 0)
                    {
                        @Html.DisplayFor(modelItem => item.vote_average) <span>/ 10</span>
                    }else
                    {
                        <span>Not Rated</span>
                    }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td class="text-sm-left">
                        @Html.DisplayFor(modelItem => item.overview)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.release_date)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
