@model MovieViewModel
<div id="Home" class="home-panel home-panel-blue">
    @Html.Partial("~/Views/Home/_Home.cshtml")
</div>


<div id="Resources" class="home-panel home-panel-purple">
    @Html.Partial("~/Views/Home/_Instructions.cshtml")
</div>

<div id="SampleApi" class="home-panel home-panel-green">

    <h1>Sample API</h1>
    

    <h4>Movie Search</h4>
    <form class="form-inline mb-2" asp-action="SearchMovie" asp-controller="Home">
        <select asp-for="SearchFormat" class="dropdown form-control mr-2">
            <option class="dropdown-item" value="2" selected="selected">By Title</option>
            <option class="dropdown-item" value="0">By Actor</option>
            <option class="dropdown-item" value="3">By Year</option>
        </select>
        <input class="form-control mr-2" asp-for="SearchKey" type="text" placeholder="Search">
        <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
    </form>
    
    <ul class="nav nav-tabs">
        <li class="active mr-2"><a href="#MovieTable">Results</a></li>
        <li class="mr-2"><a href="#MovieSource">Source</a></li>
    </ul>
    
    <div class="tab-content">
        <div id="MovieTable" class="tab-pane fade show active">
            @Html.Partial("~/Views/Home/_SampleApi.cshtml", Model.MovieResults)
        </div>
        
        <div id="MovieSource" class="tab-pane fade mt-3" style="word-wrap: break-word;">
            <h4>API: </h4>
            <pre class="bg-light col-sm-6 text-center">@Model.ApiPath</pre>
            <h4 class="mt-3">Returns: </h4>
            <pre class="bg-light col-sm-6" style="height: 200px;">@Model.ApiResults</pre>
        </div>
    </div>

</div>


@section Scripts
{
    <script>
        var returnId = '#' + '@Html.Raw(Model.ReturnId)';
        $(document).ready(function() {
            $('html, body').animate({
                    scrollTop: $(returnId).offset().top
                },
                'slow');

        });
        $(document).ready(function() {

            $(".nav-tabs a").click(function() {
                $(this).tab('show');
            });
        });
    </script>
}