<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-secondary" id="Home" style="height: 60em;">
            @Html.Partial("~/Views/Home/_Home.cshtml")
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-primary" id="About" style="height: 60em;">
            @Html.Partial("~/Views/Home/_About.cshtml")
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-info" id="Instructions" style="height: 60em;">
            @Html.Partial("~/Views/Home/_Instructions.cshtml")
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-danger" id="SampleApi" style="height: 60em;">
            @Html.Partial("~/Views/Home/_SampleApi.cshtml")
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-warning" id="Contact" style="height: 60em;">
            @Html.Partial("~/Views/Home/_Contact.cshtml")
        </div>
    </div>
</div>
